@{
    ViewData["Title"] = "Submit Success";
}

@model MissionAssignment4.Models.MovieApplicationResponse


<h2>You have successfully submitted a movie.</h2>

<br /><br />

<a asp-area="" asp-controller="Home" asp-action="Movies">Back</a>