@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>
<br />
<br />
<br />
<br />
<div class="imgContainer">
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
