@{
    ViewData["Title"] = "My Podcasts";
}
<h1>@ViewData["Title"]</h1>

<p>
    Click this link to go to Baconsale website.
    <br />
</p>
<a href="https://baconsale.com/">

    https://baconsale.com/
</a>
